.btn {
  box-sizing: border-box;
  outline: none;
  border: 1px solid @bordery;
  border-radius: 4px;
  background: none;
  padding: 20px 24px;
  font-size: 17px;
  font-family: SFUIDisplay-Thin;
  cursor: pointer;
  &.red {
    background: @red;
    border-color: @red;
    color: white;
  }
}