@import '../../less/core/palette.less';

.cb-checkbox {
  display: none;
}

.cb-checkbox + label {
  @size: 30px;
  display: inline-block;
  position: relative;
  height: @size;
  line-height: @size;
  padding: 0 0 0 40px;
  cursor: pointer;
  user-select: none;
 // background: url('../../images/unchecked.svg') no-repeat;
  background-size: contain;
  &::after {
    content: '';
    position: absolute;
    left: -2px;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid @bordery;
    border-radius: 4px;
  }

  .cb-checkbox-label-text {
    margin-left: @size + 8;
    font-size: 14px;
    line-height: 18px;
    color: black;
  }
}

.cb-checkbox[disabled] + label {
  opacity: 0.3;
  user-select: none;
  cursor: no-drop;
}

.cb-checkbox:checked + label {
  background: url('../../images/check.png') no-repeat;
  background-size: contain;
}
