.inference {
  display: block;
  text-align: center;
  .title {
    display: block;
    font-size: 37px;
    margin: 0 0 28px;
    @media (max-width: @tablet) {
      font-size: 28px;
    }
  }
  .desc {
    display: block;
    margin: 0;
    font-size: 16px;
  }
}