@import '../../less/core/palette.less';
@import '../../less/core/screens.less';

.cb-modal-window {
  @zIndex: 1000;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: @zIndex + 1;
  font-family: HelveticaNeue, sans-serif;
  &.hide {
    display: none;
  }
  .cb-modal-layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: @zIndex;
    background-color: black;
    opacity: 0.5;
  }
  .cb-modal-container {
    position: fixed;
    display: inline-block;
    box-sizing: border-box;
    z-index: @zIndex + 1;
    border-radius: 4px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 900px;
    min-height: 320px;
    max-height: 95%;

    padding: 50px 40px;
    font-size: 17px;
    line-height: 21px;
    @media (max-width: @tablet) {
      padding: 25px 20px;
    }

    border: 1px solid rgb(211, 211, 211);
    box-shadow: 0px 0px 33.25px 1.75px rgba(0, 126, 255, 0.54);
    background-color: white;
    max-width: 100%;

    .cb-close-modal {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      background: url("../../images/close.png") no-repeat center;
      background-size: cover;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .input-text {
      @media (max-width: @tablet) {
        height: 40px;
        margin-bottom: 10px;
        font-size: 17px;
      }
    }

    .title {
      font-size: 48px;
      font-family: SFUIDisplay-Thin;
      line-height: 1;
      font-weight: 200;
      margin: 0 0 40px;
      text-align: center;
      @media (max-width: @tablet) {
        font-size: 21px;
        margin-bottom: 15px;
      }
    }
    .desc {
      display: block;
      text-align: center;
      margin: 0 0 70px;
      @media (max-width: @tablet) {
        margin: 0 0 15px;
        font-size: 14px;
      }
    }
    .link {
      display: block;
      position: relative;
      color: @blue;
      font-size: 16px;
      margin-bottom: 16px;
      text-align: center;
      cursor: pointer;
    }
    .btn {
      width: 250px;
      height: 65px;
      @media (max-width: @tablet) {
        width: 220px;
      }
      &.red {
        background-color: rgb(240, 61, 54);
      }
    }
  }
}

#conversion-modal .cb-modal-container {
  width: 840px;
  height: 490px;
  min-height: 490px;
  padding-top: 50px;
  @media (max-width: @tablet) {
    min-height: 400px;
  }
}

#call-back-modal .cb-modal-container {
  width: 480px;
  height: 650px;
  min-height: 650px;
  @media (max-width: @tablet) {
    min-height: 400px;
  }
}

#service-modal .cb-modal-container {
  width: 700px;
  height: 670px;
  min-height: 670px;
  @media (max-width: @tablet) {
    min-height: 400px;
  }
}

#policy-modal .cb-modal-container {
  width: 700px;
  height: 570px;
  min-height: 570px;
  overflow-y: auto;
  @media (max-width: @tablet) {
    min-height: 400px;
  }
}