@import '../../less/core/palette.less';
@import '../../less/core/screens.less';

.cb-modal-window {
  @zIndex: 1000;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: @zIndex + 1;
  font-family: HelveticaNeue, sans-serif;
  &.hide {
    display: none;
  }
  .cb-modal-layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: @zIndex;
    background-color: black;
    opacity: 0.5;
  }
  .cb-modal-container {
    position: fixed;
    display: inline-block;
    box-sizing: border-box;
    z-index: @zIndex + 1;
    border-radius: 4px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 350px;
    max-width: 99%;
    height: 482px;
    padding: 30px 40px;
    font-size: 17px;
    line-height: 21px;
    border: 1px solid rgb(211, 211, 211);
    box-shadow: 0px 0px 33.25px 1.75px rgba(0, 126, 255, 0.54);
    background-color: white;

    .cb-close-modal {
      display: block;
      position: absolute;
      top: -25px;
      right: -25px;
      background: url("../../images/close.svg") no-repeat center;
      background-size: cover;
      width: 20px;
      height: 20px;
      cursor: pointer;
      @media (max-width: @tablet) {
        top: 10px;
        right: 10px;
        background: url("../../images/close-black.svg") no-repeat center;
      }
    }
    .title {
      display: block;
      font-size: 20px;
      line-height: 24px;
      margin: 0 0 5px;
    }
    .desc {
      display: block;
      font-size: 14px;
      line-height: 18px;
      margin: 0 0 15px;
    }
    .input-text {
      height: 38px;
      font-size: 14px;
      font-family: SFUIDisplay-Light;
      padding: 0 15px;
    }
    .accept {
      font-size: 14px;
      line-height: 17px;
      margin: 0 0 15px;
    }
    .link {
      display: block;
      position: relative;
      color: @blue;
      font-size: 16px;
      margin-bottom: 16px;
      text-align: center;
      cursor: pointer;
    }
    .btn {
      width: 100%;
      height: 40px;
      line-height: 40px;
      padding: 0;
      &.red {
        background-color: rgb(240, 61, 54);
      }
    }
  }
}