@import '../../less/core/palette.less';
@import '../../less/core/screens.less';

.cb-modal-window {
  @zIndex: 1000;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: @zIndex + 1;
  font-family: HelveticaNeue, sans-serif;
  &.hide {
    display: none;
  }
  .cb-modal-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: @zIndex;
    background-color: black;
    opacity: 0.5;
  }
  .cb-modal-container {
    position: absolute;
    display: block;
    box-sizing: border-box;
    z-index: @zIndex + 1;
    border-radius: 4px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 900px;
    height: 320px;
    max-height: 95%;

    padding: 50px 40px;
    font-size: 17px;
    line-height: 21px;

    border: 1px solid rgb(211, 211, 211);
    box-shadow: 0px 0px 33.25px 1.75px rgba(0, 126, 255, 0.54);
    background-color: white;
    max-width: 100%;

    .title {
      font-size: 48px;
      font-family: SFUIDisplay-Thin;
      line-height: 1;
      font-weight: 200;
      margin: 0 0 40px;
      text-align: center;
      @media (max-width: @tablet) {
        font-size: 28px;
      }
    }
    .desc {
      display: block;
      text-align: center;
      margin: 0 0 70px;
      @media (max-width: @tablet) {
        margin: 0 0 30px;
      }
    }
    .link {
      display: block;
      position: relative;
      color: @blue;
      font-size: 16px;
      margin-bottom: 16px;
      text-align: center;
      cursor: pointer;
    }
    .btn {
      width: 250px;
      height: 65px;
      @media (max-width: @tablet) {
        width: 180px;
      }
      &.red {
        background-color: rgb(240, 61, 54);
      }
    }
  }
}
