<footer>
    <div class="container">
        <div class="main-block">
            <div class="block">
                <h4 class="title">О нас</h4>
                <p class="about-info">ООО "ГМЛ Медиа"</p>
                <p class="about-info">ОГРН 1167746256589</p>
                <p class="about-info">ИНН 7709486993</p>
            </div>
            <div class="block">
                <h4 class="title">Кейсы</h4>
                <a class="link" href="#client-1">KIA Тула</a>
                <a class="link" href="#client-2">AUDI Тула</a>
                <a class="link" href="#client-7">Hyundai Калуга</a>
                <a class="link" href="#client-8">Citroen Калуга</a>
                <a class="link" href="#client-5">Nissan Тула</a>
                <a class="link" href="#client-9">KIA Калуга</a>
            </div>
            <div class="block">
                <h4 class="title">Услуги</h4>
                <a class="link" href="/context/">Контекстная реклама</a>
                <a class="link" href="/landingpage/">Landing page</a>
                <a class="link" href="/seo/">Сео продвижение</a>
                <a class="link" href="/target/">Таргетированная реклама</a>
                <a class="link" href="/email/">Email рассылки</a>
                <a class="link" href="/analytics/">Web-аналитика</a>
                <a class="link" href="/smm/">СММ</a>
            </div>
            <div class="block">
                <h4 class="title">Блог</h4>
                <a class="link" href="/blog/post/urgency-effect.html">Нет времени объяснять. Ты должен покупать! Эффект срочности в маркетинге</a>
                <a class="link" href="/blog/post/hashtags.html">#тыжеssmщик. Стратегия использования хештегов в Instagram</a>
                <a class="link" href="/blog/post/smm-trends.html">Тренды SMM 2017-2018 Сам пришёл</a>
                <a class="link" href="/blog/post/optimization.html">Поисковая оптимизация в Instagram</a>
            </div>
            <div class="block" style="margin: 0; width: 150px;">
                <h4 class="title">Соц. сети</h4>
                <div class="social-container">
                    <a class="social vk" href="https://vk.com/getmoreleads_ru" target="blank"></a>
                    <a class="social fb" href="https://www.facebook.com/getmoreleads.ru/" target="blank"></a>
                    <a class="social ytb" href="https://www.youtube.com/channel/UC40orkZ_im9ulI_or8FmJNA" target="blank"></a>
                </div>
                <a class="link policy-link" onclick="(function() { $('#policy-modal').removeClass('hide'); })()">Политика конфиденциальности</a>
            </div>
        </div>
        <div class="right-block">
            <a href="tel:74991100451" class="phone">+7 (499) 110-04-51</a>
            <a
                    class="call-back"
                    onclick="openModal({
                            title: 'Заказать обратный звонок',
                            btnText: 'Заказать звонок',
                            formName: 'Заказать звонок (футер)'
                        })">
                Заказать обратный звонок
            </a>
            <a href="mailto:info@getmoreleads.ru" class="email">info@getmoreleads.ru</a>
            <p class="address">109004, г. Москва, пер.&nbsp;Шелапутинский,&nbsp;д.1</p>
        </div>
    </div>
</footer>