<header>
    <div class="container">
        <div class="logo-block">
            <div class="logo"></div>
            <div class="logo-desc">Агентство интернет-маркетинга</div>
        </div>
        <div class="phone-block">
            <a href="tel:74991100451" class="phone">+7 (499) 110-04-51</a>
            <div
                    class="call-back"
                    onclick="openModal({
                                title: 'Заказать обратный звонок',
                                btnText: 'Заказать звонок',
                                formName: 'Заказать звонок (первый экран)'
                            })"
            >
                Заказать обратный звонок
            </div>
        </div>
    </div>
</header>